.business-card-container {
    width: 80%;
    min-width: 500px;
    height: 200px;
    padding: 20px;
    display: flex;

    align-items: center;
}

/* .business-card-container {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

.business-image-container {
    margin: 10px;
    width: 100px;
}

.business-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 50% 20%;
}

.business-card-header {
    display: flex;
    justify-content: space-between;
}

.business-info-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

