.home-main-container {
    display: flex;
    width: 100%;
    height: auto;
}

.home-map-wrapper {
    position: fixed;
    top: 150px;
    left: 30px;
    height: 80%;
    width: 400px;
}

.home-map-container {
    width: 30%;
    min-width: 450px;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.home-business-container {
    width: 70%;
    min-width: 675px;
    height: 100%;
    padding: 20px;
}


