.nav-bar {
    width: 100%;
    display: flex;
    height: 70px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding-right: 50px;
    padding-left: 30px;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #a38f46;
}


.wave-path {
    position: absolute;
    bottom: 100px;
    stroke: none;
    fill: #a38f46;
    z-index: 2;
}
.wave-svg {
    height: 100%;
    width: 100vw;
    z-index: 0;
    
    /* background-color: goldenrod; */
}

.wave {
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    left: 0px;
}



.search-bar {
    border: none;
    background-color: lavender;
    text-align: center;
    height: 30px;
    width: 500px;
    z-index: 1;
}


.home-link {
    cursor: pointer;
    font-size: 30px;
    font-family: Fraunces, serif;
    font-style: italic;
    font-weight: 900;
    color: #472820;
}

.home-link:hover {
}

.user-buttons {
    width: 30%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.user-buttons>a {
    margin: 5px;
}



.nav-button {

}

.nav-button:hover {

}
