.review-container {
    width: 100%;
    /* min-width: 400px; */
    margin: 5px;
    max-height: 500px;
    height:auto;
    background-color: #f3f0e3;
    padding: 20px;
    /* border: solid 3px #472820; */
    border-radius: 5px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
    "User Stars"
    "Title ."
    "Review Buttons"
    ;
}

.review-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-width: 500px;
    max-height: 500px;
    /* min-width: 700px; */
    height: auto;
    margin: 10px;
    border: 3px solid #472820;
    border-radius: 5px;
}

.star-container {
    grid-area: Stars;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.review-user {
    grid-area: User;
    display:flex;
}

.review-user-title {
    font-size: 30px;
    color: #f3f0e3;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #472820;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.review-title {
    grid-area: Title;
    font-size: 30px;
    padding-left: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.review-content {
    grid-area: Review;
    padding-bottom: 10px;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-card-buttons {
    grid-area: Buttons;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.empty-star {
    color: rgba(255,255,255,0);
    font-size: 20px;
    margin: 2px;
}

.one-star {
    color: #472820;
    font-size: 20px;
    margin: 2px;
}

.two-star {
    color: #a38246;
    font-size: 20px;
    margin: 2px;
}

.three-star {
    color: #ECC94B;
    font-size: 20px;
    margin: 2px;
}

.four-star {
    color: #8abebe;
    font-size: 20px;
    margin: 2px;
}

.five-star {
    color: #93cee5;
    font-size: 20px;
    margin: 2px;
}

.edit {
    color: #472820;
}