.home-main-container {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}
.home-map-container {
    width: 30%;
    min-width: 450px;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 0px;
}
.home-map-wrapper {
    position: sticky;
    /* padding-top: 100px; */
    top: 150px;
    height: 300px;
    width: 400px;
}


.home-business-container {
    width: 70%;
    min-width: 675px;
    height: 100%;
    padding: 20px;
}


