.map-container {
    /* position: fixed;
    top: 125px; */
    width: 100%;
    height: 80%;
    border: 3px solid #472820;
    border-radius: 5px;
    padding: 10px;
    /* position: sticky; */
    /* top: 150px; */
}


.info-window {
    color: #472820;
    font-family: Fraunces;
    font-size: large;
    cursor: pointer;
}

.gm-ui-hover-effect {
    display: none !important;
}
