.user-page-container {
    display: flex;
    padding: 30px;
    padding-top: 40px;
}


.user-profile-container {
    width: 40%;
    min-width: 400px;
    height: 70vh;
    padding: 20px;
    background-color: #f3f0e3;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: ; */
}

.profile-image {
    width: 100%;
    height: 50%;
    object-fit: contain;
    /* object-position: 50% 50%; */
}

.user-reviews-container {
    min-width: 500px;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-profile-container::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -20px;
    right: -20px;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 .99C4 .445 4.444 0 5 0c.552 0 1 .45 1 .99v4.02C6 5.555 5.556 6 5 6c-.552 0-1-.45-1-.99V.99zm6 8c0-.546.444-.99 1-.99.552 0 1 .45 1 .99v4.02c0 .546-.444.99-1 .99-.552 0-1-.45-1-.99V8.99z' fill='%23472820' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.file-input {
    padding-top: 3px;
    color: #472820;
    cursor: pointer;
}

.profile-username {
    font-size: 35px;
}