.review-container {
    width: 100%;
    margin: 5px;
    height:auto;
    background-color: #f3f0e3;
    padding: 20px;
    /* border: solid 3px #472820; */
    border-radius: 5px;
}

.review-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height: auto;
    margin: 10px;
    border: 3px solid #472820;
    border-radius: 5px;
}

.star-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-title {
    font-size: 30px;
    padding-left: 20px;
}
.review-content {
    padding-left: 40px;
}
.empty-star {
    color: rgba(255,255,255,0);
    font-size: 20px;
    margin: 2px;
}

.one-star {
    color: #472820;
    font-size: 20px;
    margin: 2px;
}

.two-star {
    color: #a38246;
    font-size: 20px;
    margin: 2px;
}

.three-star {
    color: #ECC94B;
    font-size: 20px;
    margin: 2px;
}

.four-star {
    color: #8abebe;
    font-size: 20px;
    margin: 2px;
}

.five-star {
    color: #93cee5;
    font-size: 20px;
    margin: 2px;
}