.review-form {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.rating {
    text-align: center;
}
.empty-drop {
    color: grey;
    font-size: 30px;
    margin: 5px;
}
.one-drop {
    color: #472820;
    font-size: 30px;
    margin: 5px;
}
.two-drop {
    color: #a38f46;
    font-size: 30px;
    margin: 5px;
}
.three-drop {
    color: #ECC94B;
    font-size: 30px;
    margin: 5px;
}
.four-drop {
    color: #8abebe;
    font-size: 30px;
    margin: 5px;
}
.five-drop {
    color: #93cee5;
    font-size: 30px;
    margin: 5px;
}


.drop-container {
    display: flex;
    align-items: center;
}

.review-form {
    position: sticky;
    top: 70px;
    min-width: 300px;
}

.title-input {
    min-width: 200px;
}

.content-input {
    min-width: 300px;
}